@import "vue-draggable-resizable/style.css";
:root {
    --backround: #292c2e;
    --background-block: #1b1e20;
    --gray: #2b2d35;
    --blue: #3c5d99;
    --image-background: url('/background-login.png');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background: var(--image-background);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;


}
.dev { 
    color: rgb(230, 75, 75);
    &::before {
        content: 'DEV: ';
    }
}